include setup.py
include LICENSE
include README.md
recursive-include src *
recursive-include scipydirect *.py
recursive-include test *.py
recursive-include examples *.py
recursive-include doc Makefile *.rst *.py
recursive-include doc/images *
prune DIRECT.egg-info
